@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .btn {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-neutral-100 dark:text-neutral-900 bg-indigo-700 dark:bg-indigo-300 hover:bg-indigo-800 dark:hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors duration-200;
  }
  
  .btn-outline {
    @apply inline-flex items-center px-4 py-2 border border-stone-300 dark:border-stone-700 text-gray-800 dark:text-gray-200 text-sm font-medium rounded-md hover:bg-neutral-100 dark:hover:bg-neutral-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors duration-200;
  }

  .font-handwriting {
    font-family: 'Caveat', cursive;
    font-size: 1.2em;
  }

  .font-funny {
    font-family: 'Luckiest Guy', cursive;
  }
}
